[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-dotenv = "*"
django-bootstrap-v5 = "*"
psycopg2 = "*"
pillow = "*"
cloudinary = "*"
gunicorn = "*"
django-location-field = "*"
dj-database-url = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.8"
